#go-up{
  position: fixed;
  right:20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  font-size: x-large;
  border-radius: 100%;
  border: none;
  color: rgba(255, 255, 255, 0.97);
  background-color: #53C1DE;
  display: none;
}
#go-up:hover{
  background-color: #0cadda;
  color: white;
}
#exam-grade{
  width: 50%;
}
#add-form{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#add-form input{
  margin: 20px 0;
  padding: 15px 7px;
}
#add-form #btn{
  background-color: rgb(19, 251, 85);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 12px 19px;
}